<div class="containerWrap">
	<div class="container">
		<div id="breadcrumbs">
			<div class="button">
				<span class="label"><%= link_to "Главная", :root, title: "Главная", class: "clearLink"%></span>
				<span class="arrow"><span></span></span>
			</div>
			<div class="button">
				<span class="label"><%= link_to @box.catalog.name, catalog_path(@box.catalog), title: @box.catalog.name, class: "clearLink"%></span>
				<span class="arrow"><span></span></span>
			</div>		
			<div class="button">
				<span class="label"><%= link_to @box.name, @box, title: @box.name, class: "clearLink bshow"%></span>
				<span class="arrow"><span></span></span>
			</div>		
		</div>
	</div>
</div>
<hr color="#EDEDED" noshade size="1">
<h2 style="text-align:center; margin:15px 0; color:#555555;"><i class="fa fa-angle-double-right" style="color:#00A9FE;"></i>&nbsp;Торговые Марки:<sup style='color:#55C34A; font-size:10px;'> <i class="fa fa-registered"></i></sup>
	<% if admin_signed_in? %>
	| <%= link_to '<i class="fa fa-pencil" style="color:#10C300;"></i>'.html_safe, edit_box_path, class: "clearLink", title: "Редактировать" %>
	<%end%>
	</h2>
<br>
<% if admin_signed_in? %>
	<p class="newWrite"><%= link_to '<i class="fa fa-plus fa-lg"></i> Добавить нового производиетля'.html_safe, new_box_brand_path(@box.id), class: "writeLink" %></p>
	<br>
<%end%>
<ul class="LinkMenuCentr">
	<% @brand.each do |brand| %>	
	<li>
		<%= link_to(brand) do %>
		<div class="divInLi">
	  <%= image_tag brand.image_brand.url(:thumb), title: "#{brand.name}", class: "linkBrand" %>
<% if brand.image_brand_file_name.nil? %>
  <%= brand.name %>
  <%end%>
</div>
<%end%>
	<% if admin_signed_in? %>
<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_brand_path(brand), class: "rightA" %>
	<%= link_to '<i class="fa fa-times"></i>'.html_safe, brand, class: "leftA", method: :delete, data: { confirm: "Вы уверины что хотите удалить \"#{brand.name}\"" }, title: "Удалить" %>
	<%end%>
</li>
<%end%>	
</ul>
<hr color="#EDEDED" noshade size="1">
<h2 style="text-align:center; margin:15px 0; color:#555555;"><i class="fa fa-angle-double-right" style="color:#00A9FE;"></i>&nbsp;Все <%= @box.name %>:</h2>
<br>
       <%= form_tag({:url => box_path}, method: "get", id: "product_search") do %>
          <div class="boxes">
            <% @filtr.each do |filtr| %>
              <%= check_box_tag "product[]", filtr.id, (), id: dom_id(filtr) %>
              <%= label_tag dom_id(filtr), filtr.body %>
            <% end %> 
          </div>          
        <% end %>  


<div id="category"><%= render 'box_product' %></div>
<br>
<hr color="#EDEDED" noshade size="1">
<br>
<script type="text/javascript">
$(function () {
	$('input[type=checkbox]').change(function () {
		$.get($('#product_search').attr('action'),
			$('#product_search').serialize(), null, 'script');
		return false;		
	});

	$('#product_search').submit(function () {
		$.get(this.action, $(this).serialize(), null, 'script');
		return false;
	});
});

</script>

<style>
.label .bshow{    
    color: black;
    line-height: 30px;
    padding: 5px;
}

.label .bshow:hover{
    color: black;
}
</style>